@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Quicksand', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container{
  width: 80%;
  /* background-color: aqua; */
  display: flex;
  height: 80vh;
}

.panel{
  background-size: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
  margin: 0 10px;
  /* border-radius: 50px; */
  flex: 1;
  /* opacity: 0.5; */
  filter:opacity(0.5);
  transition: flex 0.7s ease-in-out;
  cursor: pointer;
}

.active{
  flex: 5;
  filter: opacity(1);
}

.image1{
  background-image: url('./images/1.jpg');
  background-position: center;
}
.image2{
  background-image: url('./images/2.jpg');
  background-position: center;
}
.image3{
  background-image: url('./images/3.jpg');
  background-position: center;
}
.image4{
  background-image: url('./images/4.jpg');
  background-position: center;
}
.image5{
  background-image: url('./images/5.jpg');
  background-position: center;
}